html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 2%;
  background-image: url("./puppybowl.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.NavBar {
  background-color: darkgrey;
  border: 1px solid darkgray;
  border-radius: 0%;
  margin-top: 0%;
  height: 10%;
}
/* .searchBar {
  justify-content: right !important;
} */
.player-image {
  height: 120px;
}
/* Adjust the height and width of the Card component */
.players .MuiCard-root {
  height: 250px;
  width: 250px;
}

/* Adjust the height and width of the CardMedia component */
.players .MuiCardMedia-root {
  height: 70%;
  /* Adjust the shape of the picture */
  object-fit: cover;
}
